p,
b {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	margin: 5px;
}

a {
	color: #666;
	text-decoration: none;
}

html {
	background: linear-gradient(#fff, #bababa);
	background-size: cover;
	user-select: none;
}

h1,
p {
	user-select: text;
}

::selection {
	background: #d3d3d3;
	color: #555;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0.5rem;
	box-sizing: border-box;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 0.8rem;
}

#main {
	padding-bottom: 10vh;
}

nav {
	margin: 20px 0;
}

#main ul li a {
	width: 4rem;
}

.group-logo li a i.fa:before {
	font-size: 2.5em;
	line-height: 3rem;
}

#logo {
	border-style: solid;
	border-width: 5px;
	border-color: rgba(0, 0, 0, 0.1);
	display: block;
	width: 30vw;
	max-width: 8rem;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 2px #888888;
}
#logo:hover {
	box-shadow: 0px 0px 10px 2px #888888;
}

#main > h1 {
	text-align: center;
	margin: 0.5rem auto;
	font-size: 30px;
}

#main .dis {
	margin: 20px;
}

#main .dis > p {
	text-align: center;
	font-size: 20px;
}

#main ul {
	text-align: center;
	margin: auto;
	padding: 0;
}

#main ul li {
	display: inline-block;
	list-style: none;
}

#main ul li a {
	line-height: 2rem;
	display: inline-block;
}

footer {
	position: absolute;
	bottom: 1rem;
	width: 100%;
	text-align: center;
}

.group-logo li a i.fa:before {
	color: #333333;
}

.group-logo li a i.fa:hover:before {
	color: #eeeeee;
	text-shadow: 0px 0px 10px #888888;
}

@media all and (max-width: 375px) {
	#main .dis > p {
		font-size: 16px;
		padding: 0 10px;
	}
	#main {
		padding-bottom: 0;
	}
}
