p,
b {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
	color: #666;
	text-decoration: none
}

html {
	box-sizing: border-box;
	height: 100vh;
	/*background-image: url("https://api.i-meto.com/bing?new&blur");*/
	background: -webkit-linear-gradient(#BABABA, #9999FF);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#BABABA, #9999FF);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#BABABA, #9999FF);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#FFF, #BABABA);
	/* 标准的语法 */
	background-size: cover;
	padding: 0.3rem;
}

body {
	margin: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 0.8rem;
}

@media all and (min-height: 200px) {
	#main {
		padding-top: 5vh;
		
	}
}

@media all and (min-height: 400px) {
	#main {
		padding-top: 15vh;
		
	}
	h1 {
		font-size: 30px !important;
	}
}

@media all and (min-height: 500px) {
	#main {
		padding-top: 20vh;
		
	}
}

#main ul li a {
		width: 2.5rem;
	}
@media all and (min-width: 400px) {
	#main ul li a {
		width: 3rem;
	}
}

.group-logo li a i.fa:before {
	font-size: 2em;
	line-height: 3rem;
}

#logo {
	border-style: solid;
	border-width: 5px;
	border-color: rgba(0, 0, 0, 0.1);
	display: block;
	width: 30vw;
	max-width: 8rem;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 2px #888888;
}
#logo:hover{
	box-shadow: 0px 0px 10px 2px #888888;
}

#main>h1,
p {
	text-align: center;
	margin: 0.5rem auto;
	font-size: 20px;
}

#main ul {
	text-align: center;
	margin: auto;
	padding: 0;
}

#main ul li {
	display: inline-block;
	list-style: none;
}

#main ul li a {
	line-height: 2rem;
	display: inline-block;
}

footer {
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
	/*margin: 20px;*/
	text-align: center;
}

.group-logo li a i.fa:before {
	color: #333333;
}

.group-logo li a i.fa:hover:before {
	color: #EEEEEE;
	text-shadow: 0px 0px 10px #888888;
}
