html {
	user-select: none;
}

body {
	margin: 0;
}

body,
html,
#app {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}
