name: gh-pages
on:
    push:
        branches:
            - master
jobs:
    deploy:
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v2
            - run: |
                  yarn
                  yarn build
                  cp ./dist/index.html ./dist/404.html
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist
                  publish_branch: gh-pages # deploying branch
                  CNAME: zkl2333.com
